body {
    background: linear-gradient(red, yellow, green);
}

h1 {
	text-align: center;
    -webkit-text-stroke: 3px black;
	font-size: 64px;
	font-family: "arial";
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.35, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: linear-gradient(red, yellow, green);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.center {
    mix-blend-mode: multiply;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}