body {
    background-color: #E1F4CB;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: "Georgia";
  color: black;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #3F4739;
}

h2{
    text-align: center;
    color: #3F4739;
    text-decoration: overline;
}

h3{
    text-align: center;
    color: #3F4739;
    line-height: 0px;
}

#intro{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: #BACBA9;
}

.floatleft{
    float: left;
    display: inline;
    border: 1px black solid; /* included this line just so you can see how you're positioning the divs */
}

.projects_smallwidth{
    width: 210px;
}

#aboutme{
    background-color: white;
    text-align: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    overflow: scroll;
}

#skills{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    overflow: scroll;
}

#workexperience{
    background-color: white;
    width: 600px;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    display: block;
    overflow: scroll;
}

#projects{
    background-color: white;
    width: 665px;
    height: 400px;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    background-color: #BACBA9;
    overflow: scroll;
}